{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-certificate fa-stack-1x fa-inverse"></i>
    </span>
    {{ projects.title }}
  </h2>

  {% if projects.intro %}
  <div class="intro">
    {{ projects.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for project in projects.papers %}
  <div class="item">
    {% if project.link %}
      <li><a href="{{ publication.link }}" target="_blank">{{ project.title }}</a></li>
    {% else %}
      <li>{{ project.title }}</li>
    {% endif %}
    <div class="publication-authors">{{ project.authors }}</div>
    <div class="publication-conference">{{ project.conference }}</div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
<a href="https://chankein.github.io/Kein-cv/">Click here to Resume Page</a>
{% endif %}
