{% assign skills = site.data.data.skills-details%}
{% if skills %}
<section class="skills-section section">
  <div class="education-container container-block">

    <h2 class="container-block-title">
      {{ skills.title }}
    </h2>

    <div class="skillset">
      {% if skills.programming %}
        <h5>Programming</h5>
        {% for skill in skills.programming %}
        <div class="item">

          <p class="level-title">{{ skill.name }}</p>

          <div class="level-bar">
            <div class="level-bar-inner" data-level="{{ skill.level }}">
            </div>
          </div><!--//level-bar-->

        </div><!--//item-->
        {% endfor %}
        </br>
      {% endif %}

      {% if skills.database %}
        <h5>Database</h5>
        {% for skill in skills.database %}
        <div class="item">

          <p class="level-title">{{ skill.name }}</p>

          <div class="level-bar">
            <div class="level-bar-inner" data-level="{{ skill.level }}">
            </div>
          </div><!--//level-bar-->

        </div><!--//item-->
        {% endfor %}
        </br>
      {% endif %}

      {% if skills.dataVisualization %}
        <h5>Data Visualization</h5>
        {% for skill in skills.dataVisualization %}
        <div class="item">

          <p class="level-title">{{ skill.name }}</p>

          <div class="level-bar">
            <div class="level-bar-inner" data-level="{{ skill.level }}">
            </div>
          </div><!--//level-bar-->

        </div><!--//item-->
        {% endfor %}
        </br>
      {% endif %}

      {% if skills.versionControl %}
        <h5>Source Code Version Control</h5>
        {% for skill in skills.versionControl %}
        <div class="item">

          <p class="level-title">{{ skill.name }}</p>

          <div class="level-bar">
            <div class="level-bar-inner" data-level="{{ skill.level }}">
            </div>
          </div><!--//level-bar-->

        </div><!--//item-->
        {% endfor %}
        </br>
      {% endif %}

      {% if skills.platform %}
        <h5>OS</h5>
        {% for skill in skills.platform %}
        <div class="item">

          <p class="level-title">{{ skill.name }}</p>

          <div class="level-bar">
            <div class="level-bar-inner" data-level="{{ skill.level }}">
            </div>
          </div><!--//level-bar-->

        </div><!--//item-->
        {% endfor %}
        </br>
      {% endif %}

      {% if skills.cloudComputing %}
        <h5>Cloud Computing</h5>
        {% for skill in skills.cloudComputing %}
        <div class="item">

          <p class="level-title">{{ skill.name }}</p>

          <div class="level-bar">
            <div class="level-bar-inner" data-level="{{ skill.level }}">
            </div>
          </div><!--//level-bar-->

        </div><!--//item-->
        {% endfor %}
      </br>
      {% endif %}

      {% if skills.containerTechnology %}
        <h5>Virtualized Platforms</h5>
        {% for skill in skills.containerTechnology %}
        <div class="item">

          <p class="level-title">{{ skill.name }}</p>

          <div class="level-bar">
            <div class="level-bar-inner" data-level="{{ skill.level }}">
            </div>
          </div><!--//level-bar-->

        </div><!--//item-->
        {% endfor %}
      </br>
      {% endif %}

      {% if skills.framework %}
        <h5>Framework</h5>
        {% for skill in skills.framework %}
        <div class="item">

          <p class="level-title">{{ skill.name }}</p>

          <div class="level-bar">
            <div class="level-bar-inner" data-level="{{ skill.level }}">
            </div>
          </div><!--//level-bar-->

        </div><!--//item-->
        {% endfor %}
      </br>
      {% endif %}

      {% if skills.testTools %}
        <h5>Test Tools</h5>
        {% for skill in skills.testTools %}
        <div class="item">

          <p class="level-title">{{ skill.name }}</p>

          <div class="level-bar">
            <div class="level-bar-inner" data-level="{{ skill.level }}">
            </div>
          </div><!--//level-bar-->

        </div><!--//item-->
        {% endfor %}
      </br>
      {% endif %}

      {% if skills.UIDesign %}
        <h5>UI/UX Design</h5>
        {% for skill in skills.UIDesign %}
        <div class="item">

          <p class="level-title">{{ skill.name }}</p>

          <div class="level-bar">
            <div class="level-bar-inner" data-level="{{ skill.level }}">
            </div>
          </div><!--//level-bar-->

        </div><!--//item-->
        {% endfor %}
      </br>
      {% endif %}
    </div>
  </div>
</section><!--//skills-section-->
{% endif %}